body,
button,
html,
input,
select,
textarea {
  font-family: inherit;
}

body,
html {
  height: 100%;
}

#voten-app {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

#voten-app,
body {
  background: #fff;
  margin: 0;
  font-weight: 400;
  line-height: 1.428571428571429;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', Trebuchet MS;
}

a {
  color: #5788d7;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

a:focus,
a:hover {
  color: #729cdf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.4;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }

  ::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    border-radius: 100px;
  }
}

::-moz-selection {
  background: #5587d7;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::selection {
  background: #5587d7;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #5587d7;
  /* Gecko Browsers */
  color: #fff;
}

.fa-stack {
  cursor: pointer;
  color: #777;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fa-stack:hover {
  cursor: pointer;
  color: #333;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-column-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-display {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.padding-top-3 {
  padding-top: 3em;
}

.padding-bottom-10 {
  padding-bottom: 10em;
}

.padding-bottom-3 {
  padding-bottom: 3em;
}

.margin-top-30-percent {
  margin-top: 30%;
}

.margin-left-half {
  margin-left: 0.5em;
}

.margin-sides-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.margin-left-0 {
  margin-left: 0em !important;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-2 {
  margin-left: 2em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.padding-sides-1 {
  padding-right: 1em;
  padding-left: 1em;
}

.margin-top-3 {
  margin-top: 3em !important;
}

.margin-top-5 {
  margin-top: 5em;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-half {
  margin-right: 0.5em !important;
}

.margin-right-1 {
  margin-right: 1em !important;
}

.margin-right-2 {
  margin-right: 2em !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-top-bottom-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-top-bottom-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.margin-bottom-half {
  margin-bottom: 0.5em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.blue-text {
  color: #5587d7 !important;
}

.red-text,
.red-text i {
  color: #db6e6e !important;
}

.fa-8x {
  font-size: 8em;
}

.page-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

textarea {
  resize: none;
}

.btn:focus,
.btn:hover {
  outline: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.v-content-box {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  padding: 1em;
}

.padding-top-bottom-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-top-bottom-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-top-bottom-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.primary-background {
  background: #5587d7 !important;
}

.red-background {
  background: #db6e6e !important;
}

.green-background {
  background: #78b38a !important;
}

.go-primary {
  color: #5587d7 !important;
}

.h-primary:hover {
  color: #5587d7 !important;
}

.go-red {
  color: #db6e6e !important;
}

.h-red:hover {
  color: #db6e6e !important;
}

.go-black,
.go-black a {
  color: #333;
}

.go-green {
  color: #78b38a !important;
}

.h-green:hover {
  color: #78b38a !important;
}

.go-yellow {
  color: #edb431 !important;
}

.h-yellow:hover {
  color: #edb431 !important;
}

.h-black:hover {
  color: #000 !important;
}

.go-purple {
  color: #ac7bcd !important;
}

.h-purple:hover {
  color: #ac7bcd !important;
}

.go-gray {
  color: #979797 !important;
}

.go-gray a {
  color: #979797 !important;
}

.go-gray a:hover {
  text-decoration: underline;
}

.text-muted {
  display: block;
  margin: 0.3em;
}

.v-icon {
  font-weight: 600;
  font-size: 20px;
}

input[type='file'] {
  background-color: inherit;
}

.v-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.icon-block-big:before {
  font-size: 150px;
  margin-top: 40px;
}

.inline-block {
  display: inline-block;
}

.weight-500 {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.font-small {
  font-size: 90%;
}

.enable-user-select {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.go-small {
  font-size: 82%;
}

.margin-auto {
  margin: auto;
}

.block-before:before {
  display: block;
}

.v-bold {
  font-weight: bold;
}

.v-ultra-bold {
  font-weight: 600;
  font-size: 17px;
}

.v-bold-ultra {
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.background-white {
  background: #fff !important;
}

.width-100 {
  width: 100% !important;
}

.full-width {
  max-width: 100%;
  width: 100%;
}

.half-width {
  width: 50% !important;
}

.h-underline:hover {
  text-decoration: underline;
}

.text-or-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashed-hr {
  border-top: 2px dashed #ccc;
}

.thik-light-hr {
  border-top: 2px solid #e5e8ea;
}

.word-break {
  word-break: break-all;
}

.cursor-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.no-border {
  border: none !important;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #bbb;
          box-shadow: inset 0 -1px 0 #bbb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

.padding-1 {
  padding: 1em;
}

.padding-desktop-1-mobile-half {
  padding: 1em;
}

@media (max-width: 768px) {
  .padding-desktop-1-mobile-half {
    padding: 0.5em;
  }
}

.padding-half-1 {
  padding: 0.5em 1em;
}

.overflow-auto {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.overflow-hidden {
  overflow-y: hidden;
}

.rotate {
  -webkit-animation: rotating 1s linear infinite;
          animation: rotating 1s linear infinite;
}

.break-words {
  word-break: break-all;
}

.darker-on-hover {
  opacity: 0.7;
}

.darker-on-hover:hover {
  opacity: 1;
}

.lighter-on-hover {
  opacity: 1;
}

.lighter-on-hover:hover {
  opacity: 0.7;
}

a {
  color: #5587d7;
}

.pagination-link.is-current {
  background-color: #5587d7;
  border-color: #5587d7;
}

.nav-item a:not(.button).is-tab.is-active,
a.nav-item:not(.button).is-tab.is-active {
  border-bottom: 3px solid #5587d7;
  color: #5587d7;
}

.nav-item a:not(.button).is-tab:hover,
a.nav-item:not(.button).is-tab:hover {
  border-bottom-color: #5587d7;
}

.button.is-danger,
.tag.is-danger {
  background-image: linear-gradient(112deg, #ff4f81, #ff6c5f);
}

.button.is-primary {
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
}

.button.is-info {
  background-image: linear-gradient(284deg, #3369e7, #00aeff);
}

.statistics .statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 2em;
  margin-bottom: 1em;
}

.statistics .statistic .panel-number-big {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics .statistic .panel-number-big .des {
  font-size: 15px;
}

.vue-tooltip {
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  max-width: 320px;
  padding: 6px 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
}

.vue-tooltip .vue-tooltip-content {
  text-align: center;
}

.vue-tooltip .tooltip-arrow {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.vue-tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.vue-tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-top-color: #000;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  bottom: -5px;
  margin-top: 0;
  margin-bottom: 0;
}

.vue-tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.vue-tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-bottom-color: #000;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: -5px;
  margin-top: 0;
  margin-bottom: 0;
}

.vue-tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.vue-tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  margin-left: 0;
  margin-right: 0;
}

.vue-tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.vue-tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px) {
  .vue-tooltip {
    display: none !important;
  }
}

.backend-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.backend-logo img {
  width: 35px;
}

.red-back {
  background-image: linear-gradient(112deg, #ff4f81, #ff6c5f);
  color: #f8f8f8;
}

.blue-back {
  background-image: linear-gradient(284deg, #00aeff, #3369e7);
  color: #f8f8f8;
}

.green-back {
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
  color: #f8f8f8;
}

